<h1>this is login page</h1>

<form method="post" action="login/submit">
    <label>name</label>
    <input type="text" name="name">
    <label>surname name</label>
    <input type="text" name="surname">
    <input type="number" name="age">
    <button type="submit" class="btn btn-primary">submit</button>
</form>